<h1>Enter Email Address</h1>
<div class="infoBox" style="margin-top: 30px; color=#444; text-align: center" >
  <form action="/users/create" method="post">
    <input type="text" name="email" style="color=#444;" placeholder="Email" />
    <input type="submit" class="btn">
<br />
  </form>
</div>
