

#footer {
clear: both;
padding-top: 2em;
text-align: center;
font-family: sans-serif;
font-size: 10px;
}

.content {
  text-align: left;
  width: 800px;
}
.boxgrid {
  margin-top: 22px;
  background-attachment: scroll;
  float: left;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
  margin-bottom: 24px;
  overflow: hidden;
  position: relative;
  width: 180px;
  height: 150px;
  border: 6px solid rgba(208, 233, 106, 0.50);
  float: left;
  list-style-type: none;
  margin-left: 12px;
  margin-right: 12px;
  padding: 0;
}
table tr td {
  width: 40%;
}
.boxgrid img {
  min-height: 150px;
  min-width: 180px;
  max-height: 320px;
  max-width: 290px;
}
.photos {
  height: 190px;
  overflow: hidden;
}
.infoBox {
}
h1 {
  text-align: center;
}
.content {
  margin-top: 60px;
}
.msg-sorry {
  width: 480px;
  margin-left: 150px;
  margin-top: 20px;
}
.msg {
  width: 400px;
  margin-left: 200px;
  margin-top: 20px;
}
input[type="text"] {
  width: 290px;
}
